PORT=5000

PHONEPE_CLIENT_ID=your_client_id
PHONEPE_CLIENT_SECRET=your_client_secret
PHONEPE_CLIENT_VERSION=your_client_version
PHONEPE_ENV=SANDBOX
PHONEPE_WEBHOOK_KEY_ID=your_webhook_key_id
PHONEPE_WEBHOOK_SECRET=your_webhook_secret
